<!-- rpgame/templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" />

    <!-- Stylesheet -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <title>RP Game - Main Menu</title>
</head>

<body>

    <!-- Main menu options -->
    <section class="container container-fluid">
        <div class="row row-content text-center">
            <div class="col col-md-9 mt-4">
                <h1>Main Menu</h1>
                <hr>
            </div>
        </div>
        <div class="row row-content">
            <div class="col col-md-3">
                {% if user_name %}
                <p>Player: {{ user_name }}</p>
                {% endif %}
                {% if user_game_id %}
                <p>Game ID: {{ user_game_id }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row row-content text-center">
            <div class="col col-md-3 mt-1">
                <form action="{% url 'hostgame' %}" method="get">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" id="hostgame">Host a Game</button>
                </form>
            </div>
            <div class="col col-md-3 mt-1">
                <form action="{% url 'joingame' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" id="joingamebutton">Join a Game</button>
                </form>
            </div>
            <!-- Clears session state -->
            <div class="col col-md-3 mt-1">
                <form action="{% url 'clearsession' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary" id="logoutbutton">Log Out</button>
                </form>
            </div>
        </div>
        <div class="row row-content text-center">
            <div class="col col-md-9 mt-4">
                <!-- // Placeholder // -->
            </div>
        </div>
    </section>







    <!-- // WebSocket connection script // Javascript code // -->
    <script>
        // Clear the session on page load
        sessionStorage.clear();

        // WebSocket connection code (if applicable)
        const socket = new WebSocket('ws://' + window.location.host + '/ws/RpGameConsumer/');

        // Ensure the WebSocket Connection is Open
        socket.onopen = function (event) {
            console.log('WebSocket connection opened:', event);
            // You can send an initial message if needed
            // socket.send('Hello, WebSocket!');
        };

        socket.onclose = function (event) {
            // Handle WebSocket closure, if needed
            console.log('WebSocket closed:', event);
        };
    </script>

    <!-- Bootstrap JavaScript plugins -->
    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>

</html>