<!-- rpgame/templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" />

    <!-- Stylesheet -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <title>RP Game - Main Menu</title>
</head>

<body>

    <!-- Host Game Modal -->
    <div class="modal fade" id="hostModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Host a New Game</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid text-nowrap">
                        <div class="row">
                            <div class="mb-3 col-12">
                                <!-- form goes here -->
                                <form method="post" action="{% url 'hostgame' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col">
                                            <label for="num_planets" class="col-md-2 col-form-label">Number of Planets</label>
                                            <input type="text" class="form-control" id="num_planets" name="num_planets" value="30" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="map_width" class="col-md-2 col-form-label">Map Width</label>
                                            <input type="text" class="form-control" id="map_width" name="map_width" value="20" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="map_height" class="col-md-2 col-form-label">Map Height</label>
                                            <input type="text" class="form-control" id="map_height" name="map_height" value="20" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="player1" class="col-md-2 col-form-label">Player 1</label>
                                            <input type="text" class="form-control" id="player1" name="player1" value="{{ user_name }}"
                                                disabled>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="player2" class="col-md-2 col-form-label">Player 2</label>
                                            <input type="text" class="form-control" id="player2" name="player2" placeholder="" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="player3" class="col-md-2 col-form-label">Player 3</label>
                                            <input type="text" class="form-control" id="player3" name="player3" placeholder="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="player4" class="col-md-2 col-form-label">Player 4</label>
                                            <input type="text" class="form-control" id="player4" name="player4" placeholder="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col mt-3">
                                            <div class="form-check form-check-inline">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="fog_of_war" checked>
                                                    <label class="form-check-label" for="inlineRadio1">Fog of War</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="opponents_hidden">
                                                    <label class="form-check-label" for="inlineRadio2">Opponents Hidden</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="all_hidden">
                                                    <label class="form-check-label" for="inlineRadio3">All Hidden</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Start New Game</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Join Game Modal -->
    <div class="modal fade" id="joinGame">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Join a Game</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid text-nowrap">
                        <div class="row">
                            <div class="mb-3 col-12">
                                <!-- form for joining a game ID -->
                                <form method="post" action="{% url 'playgame' %}">
                                    {% csrf_token %}
                                    <div class="row mb-3">
                                        <label for="joingameid" class="col-md-2 col-form-label">Game ID: </label>
                                        <div class="col-md-10">
                                            {% if user_game_id %}
                                            <input type="text" class="form-control" id="joingameid" name="joingameid"
                                                value="{{ user_game_id }}">
                                            {% else %}
                                            <input type="text" class="form-control" id="joingameid" name="joingameid"
                                                value="You must be part of a game to join it" disabled>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-10">
                                            <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            {% if user_game_id %}
                                            <button type="submit" class="btn btn-primary">Start Game</button>
                                            {% else %}
                                            <button type="submit" class="btn btn-primary" disabled>Start Game</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- Main menu options -->
    <section class="container container-fluid vertical-center playgame">
        <div class="row row-content justify-content-center ">
            <div class="col-md-6 text-center mt-4">
                <h1>Main Menu</h1>
                <hr>
            </div>
        </div>
        <div class="row row-content justify-content-center">
            <div class="col-md-6 text-center activeuser">
                {% if user_name %}
                <p>Player: {{ user_name }}</p>
                {% endif %}
                {% if user_game_id %}
                <p>Last Game ID: {{ user_game_id }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row row-content justify-content-center">
            <div class="col-md-2 text-center">
                <button type="button" class="btn btn-primary text-nowrap" data-bs-toggle="modal" data-bs-target="#hostModal"
                    id="hostgamebutton">Host a Game
                </button>
            </div>
            <div class="col-md-2 text-center">
                <button type="button" class="btn btn-primary text-nowrap" data-bs-toggle="modal" data-bs-target="#joinGame"
                    id="joingamebutton">Join a Game
                </button>
            </div>
            <!-- Clears session state -->
            <div class="col-md-2 text-center">
                <form action="{% url 'clearsession' %}" method="get">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary" id="logoutbutton">Log Out</button>
                </form>
            </div>
        </div>
        <div class="row row-content justify-content-center">
            <div class="col-md-6 text-center">
                <!-- // Placeholder // -->
            </div>
        </div>
    </section>


    <section class="container container-fluid vertical-center playgame" id="availablegames">
        <div class="row row-content justify-content-center">
            <div class="col-md-6 text-center">
                <h3>Available Games</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Game ID</th>
                            <th scope="col">Turn Completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in game_list %}
                        <tr>
                            <td>{{ item.game_id }}</td>
                            <td>{{ item.turn_completed }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>




    <!-- footer -->
    <footer>
        <div class="container mt-4 text-center">
            <div class="row">
                <div class="col">
                    <p>2024 RealPage <br> &copy; All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- // WebSocket connection script // Javascript code // -->
    <script>
        // Clear the session on page load
        // sessionStorage.clear();

        // WebSocket connection code (if applicable)
        const socket = new WebSocket('ws://' + window.location.host + '/ws/RpGameConsumer/');

        // Ensure the WebSocket Connection is Open
        socket.onopen = function (event) {
            console.log('WebSocket connection opened:', event);
            // You can send an initial message if needed
            // socket.send('Hello, WebSocket!');
        };

        socket.onclose = function (event) {
            // Handle WebSocket closure, if needed
            console.log('WebSocket closed:', event);
        };
    </script>

    <!-- Bootstrap JavaScript plugins -->
    <script src="rpgame/static/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>


</body>

</html>