<!-- rpgame/templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" />
    <!-- Stylesheet -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <title>RP Game - Playfield</title>
</head>

<body>

    <section class="container container-fluid">
        <div class="row row-content text-center">
            <div class="col col-md-8 col-lg-6">
                <h1>Plafield</h1>
                <hr>
                <div class="activeuser">
                    {% if user_name %}
                    <p>Player: {{ user_name }}</p>
                    {% endif %}
                    {% if user_game_id %}
                    <p>Game ID: {{ user_game_id }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>




    <!-- footer -->
    <footer>
        <div class="container mt-4 text-center">
            <div class="row">
                <div class="col">
                    <p>2024 RealPage <br> &copy; All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- // WebSocket connection script // Javascript code // -->
    <script>
        // WebSocket connection code (if applicable)
        const socket = new WebSocket('ws://' + window.location.host + '/ws/RpGameConsumer/');

        // Ensure the WebSocket Connection is Open
        socket.onopen = function (event) {
            console.log('WebSocket connection opened:', event);
            // You can send an initial message if needed
            // socket.send('Hello, WebSocket!');
        };

        // Function to reload the page every 5 seconds (adjust as needed)
        // function autoRefresh() {
        //     location.reload();
        // }

        // SetInterval to call the autoRefresh function every 5000 milliseconds (5 seconds)
        // setInterval(autoRefresh, 10000);

        socket.onclose = function (event) {
            // Handle WebSocket closure, if needed
            console.log('WebSocket closed:', event);
        };
    </script>

    <!-- Bootstrap JavaScript plugins -->
    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>

</html>