<!-- rpgame/templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" />

    <!-- Stylesheet -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <title>RP Game - Playfield</title>
</head>

<body>

    <section class="container container-fluid playgame">
        <div class="row row-content text-center">
            <div class="col">
                <h1>Playfield</h1>
                <hr>
                <div class="activeuser">
                    {% if user_name %}
                    <p>Player: {{ user_name }}</p>
                    {% endif %}
                    {% if user_game_id %}
                    <p>Playing Game ID: {{ user_game_id }}</p>
                    {% endif %}
                    {% if game_turn %}
                    <p>Game Turn: {{ game_turn }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row row-content justify-content-center">
            <div class="col-md-2 text-center">
                <button type="button" class="btn btn-primary text-nowrap" onclick="window.location.href = '{% url 'mainmenu' %}'"
                    id="mainmenubutton">Main Menu</button>
            </div>
            <!-- Clears session state -->
            <div class="col-md-2 text-center">
                <button type="button" class="btn btn-secondary text-nowrap" onclick="window.location.href = '{% url 'clearsession' %}'"
                    id="logoutbutton">Log Out</button>
            </div>
        </div>
    </section>


    <section class="container container-fluid text-center playgame mt-5" id="playfield">
        <div class="row row-content justify-content-center">
            <!-- Display Map -->
            <div class="col-12 col-xl-7" id="mapDisplay">
                <div class="row row-content justify-content-center">
                    <pre>
                        {% if map_display_str %}
                        <p>{{ map_display_str }}</p>
                        {% endif %}
                    </pre>
                </div>
                <div class="row row-content justify-content-center">
                    <div class="col-6 text-center mb-2">
                        <form method="post" action="{% url 'sendships' %}" class="text-nowrap">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary text-nowrap" id="sendShipsButton">Send Ships</button>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <label for="source_planet" class="col col-form-label">Source Planet</label>
                                    <input type="text" class="form-control" id="source_planet" name="source_planet" value="" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="destination_planet" class="col col-form-label">Destination Planet</label>
                                    <input type="text" class="form-control" id="destination_planet" name="destination_planet" value=""
                                        required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="fleet_size" class="col col-form-label">Fleet Size</label>
                                    <input type="text" class="form-control" id="fleet_size" name="fleet_size" value="" required>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-6 text-center">
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-warning text-nowrap" onclick="window.location.href = '{% url 'finishturn' %}'" id="finishturnbutton">Finish Turn</button>
                            </div>
                        </div>
                        <div class="row row-content">
                            <div class="col-12">
                                <div class="mt-5">
                                    {% if user_name %}
                                    <p>Player: {{ user_name }}</p>
                                    {% endif %}
                                    {% if user_game_id %}
                                    <p>Playing Game ID: {{ user_game_id }}</p>
                                    {% endif %}
                                    {% if game_turn %}
                                    <p>Game Turn: {{ game_turn }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Planet List -->
            <div class="col-12 col-xl-5 mx-auto" id="gamestats">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Planet Character</th>
                            <th scope="col">Owner</th>
                            <th scope="col">Ship Count</th>
                            <th scope="col">Allocated Ships</th>
                            <th scope="col">Ship Production</th>
                            <th scope="col">Planet Defense</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in game_display_stats %}
                        <tr>
                            <td>{{ item.display_character }}</td>
                            <td>{{ item.owner_done }}</td>
                            <td>{{ item.ships }}</td>
                            <td>{{ item.allocated_ships }}</td>
                            <td>{{ item.production }}</td>
                            <td>{{ item.defense }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row row-content playgame mt-5">
                <!-- Display Map -->
                <h3> Battle Logs</h3>
                <hr>
                <div class="col-12" id="battleLogDisplay">
                    <pre>
                        {% if battle_log %}
                        <p>{{ battle_log }}</p>
                        {% endif %}
                    </pre>
                </div>
            </div>
        </div>
    </section>







    <!-- footer -->
    <footer>
        <div class="container mt-4 text-center">
            <div class="row">
                <div class="col">
                    <p>2024 RealPage <br> &copy; All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- // WebSocket connection script // Javascript code // -->
    <script>
        const gameId = "{{ user_game_id|escapejs }}";
        const username = "{{ user_name|escapejs }}";
        const host = window.location.host;
        const socket = new WebSocket(`ws://${host}/ws/RpGameConsumer/${gameId}/`);

        // Ensure the WebSocket Connection is Open
        socket.onopen = function () {
            console.log('WebSocket connection opened:', event);
            // You can send an initial message if needed
            socket.send('Player "' + username + '" is connected to Game ID ' + gameId);
            // Send a ping every 30 seconds to keep the connection open
            setInterval(() => {
                if (socket.readyState === WebSocket.OPEN) {
                    socket.send(JSON.stringify({ type: "ping" }));
                }
            }, 3000);
        };

        document.getElementById('sendShipsButton').onclick = function () {
                socket.send(JSON.stringify({ 'action': 'playfield_refresh' }));
            };

        document.getElementById('finishturnbutton').onclick = function () {
                socket.send(JSON.stringify({ 'action': 'playfield_refresh' }));
            };

        socket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            if (data.action === 'refresh') {
                // This command refreshes the page
                window.location.reload();
            }
            if (data.type === 'heartbeat')
                return;
            if (data.type === 'ping') {
                socket.send(JSON.stringify({ type: "pong" }));
                return;
            };

            socket.onclose = function (event) {
                if (event.wasClean) {
                    console.log(`Connection closed cleanly, code=${event.code}, reason=${event.reason}`);
                } else {
                    console.log('Connection died unexpectedly.');
                }
            };

            socket.onerror = function (error) {
                console.log(`WebSocket error: ${error.message}`);
            };
    </script>

    <!-- Bootstrap JavaScript plugins -->
    <script src="rpgame/static/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>


</body>

</html>